
.test {
width: 100px; /* устанавливаем ширину блока */
height: 75px;  /* устанавливаем высоту блока */
border-radius: 05px;  /* определяем форму углов элемента */
position: relative;  /* элемент с относительным позиционированием (position:static - по умолчанию и, как следствие, значение свойства left не повлияли бы на позиционирование элемента) */
-webkit-animation: iliketomoveit 5s infinite;  /*  для поддержки ранних версий браузеров */
animation: iliketomoveit 10s infinite;  /* задаём имя анимации (соответствует имени назначенному в ключевых кадрах), продолжительность анимации и указываем, что анимация будет повторяться бесконечно  */
} 

@-webkit-keyframes iliketomoveit { /* для поддержки ранних версий браузеров */ 
        0%   {left: 0px;} /* задаем начало анимации */ 
        25%  {left: 400px; background: rgb(229, 123, 123);} /* сдвигаем элемент на 400px от левого края при этом устанавливаем цвет заднего фона */ 
        75%  {left: 200px;}  /* уменьшаем сдвиг от левого края */ 
        100% {left: 0px; background: rgb(90, 161, 232);} /* возвращаем элемент на первоначальную точку и изменяем цвет заднего фона */ 
        } 
@keyframes iliketomoveit {
        0%   {left: 0px;} 
        25%  {left: 400px; background: rgb(230, 150, 150);} 
        75%  {left: 200px;} 
        100% {left: 0px; background: rgb(116, 234, 226);} 
        } 

